[*.cs]

# CS0661: Le type définit l'opérateur == ou l'opérateur != mais ne se substitue pas à Object.GetHashCode()
dotnet_diagnostic.CS0661.severity = none

# CS0659: Le type se substitue à Object.Equals(object o) mais pas à Object.GetHashCode()
dotnet_diagnostic.CS0659.severity = none
